.middleCont {
  margin-left: 80px;
  margin-right: 80px;
  font-weight: 400;
  z-index: 2;
  background-color: #fffcf8;
  border-bottom: 1px solid #fff8ef;
  height: 78px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.788);
}
.louis {
  padding: 0px;
  margin: 0px;
  font-size: 55px;
}
.since {
  line-height: 0.1;
  text-align: right;
  padding: 0px;
  margin: 0px;
}
.searchCont {
  display: flex;
  align-items: center;
}
.search {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  align-items: center;
}
input{
  outline:unset;
  border:none;
  background-color: unset;
}