body {
  background-color: #fff8ef;
  font-family: "EB Garamond", serif;
  color: #000;
}

header {
  display: flex;
  justify-content: center;
  height: 77px;
  border-bottom: 1px solid #eddabd;
  z-index: 1;
}
